<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <h2 class="title">accountability</h2>
        <ul class="nav flex-column">
          <li *ngIf="currentDashboard == 'dashboard'" class="nav-item">
            <a class="nav-link active disabled" href="#">
              <span data-feather="home"></span>
              dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li *ngIf="currentDashboard != 'dashboard'" class="nav-item">
            <a class="nav-link" href="/dashboard">
              <span data-feather="home"></span>
              dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li *ngIf="currentDashboard == 'personal'" class="nav-item">
            <a class="nav-link active disabled" href="#">
              <span data-feather="file"></span>
              personal
            </a>
          </li>
          <li *ngIf="currentDashboard != 'personal'" class="nav-item">
            <a class="nav-link" href="/personal">
              <span data-feather="file"></span>
              personal
            </a>
          </li>
          <li *ngIf="currentDashboard == 'profile'" class="nav-item">
            <a class="nav-link active disabled" href="#">
              <span data-feather="shopping-cart"></span>
              profile
            </a>
          </li>
          <li *ngIf="currentDashboard != 'profile'" class="nav-item">
            <a class="nav-link" href="/profile">
              <span data-feather="shopping-cart"></span>
              profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <span data-feather="users"></span>
              logout
            </a>
          </li>
        </ul>
      </div>
    </nav>
</div>

