@font-face {
  font-family: 'Avenir';
  src: url('AvenirLTStd-Book.eot');
  src: url('AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
       url('AvenirLTStd-Book.ttf') format('truetype'),
       url('AvenirLTStd-Book.woff') format('woff'),
       url('AvenirLTStd-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}