.timeline-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
}

.timeline-card {
  flex: 1;
  margin: 1rem;
}

body {
  font-size: .875rem;
  font-family: 'Avenir', Helvetica, sans-serif !important;
}
